@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

.hero {
    background-image: url(./assets/Hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 10px;
    padding-bottom: 200px;
}

.dark-1 {
    color: #252432;
}

.dark-2 {
    color: #25243280;
}

.dark-3 {
    color: #4E47FF;
}

body {
    background-color: #F5F8FF;
}

.btn-primary {
    background-color: #4E47FF;
    font-weight: bold;
    color: white;
    font-size: 16px;
    padding: 12px 36px 12px 36px;
    border-radius: 10px;
    border: none;

}

.btn-primary:hover {
    border: 1px solid #bbbbbb;
    background: #bbbbbb;
    transition: 1s;



}

/* header */

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 150px 157px 150px;

}

nav ul li {
    list-style: none;
    text-decoration: none;
}

.logo {
    color: #4E47FF;
    font-size: 35px;
    font-weight: bold;
}

.nav-title {
    text-align: center;
    margin: 250px 250px 0px 250px;
}

.nav-user-title {
    font-size: 65px;
    font-weight: bold;
    color: #252432;
}


/* action-web */


.action-web {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin: 120px 150px 0px 140px;
}

.action h1 {
    font-size: 40px;
    font-weight: bold;
}

.action p {
    font-size: 24px;
}

.action-content {
    margin-top: 60px;
    margin-left: 140px;
}

.action-profile {
    border-radius: 48px;
    border: none;
    margin-right: 170px;
}

/* Feedback section */

.feedback-title {
    text-align: center;
    font-size: 42px;
    font-weight: 800;
}

.feedback ul li {
    list-style: none;
}

.feedback-icon {
    display: flex;
}

.feedback {
    width: 350px;
    height: 250px;
    background-color: white;
    border-radius: 15px;
}

.feedback-user-title,
.feedback-user-description {
    margin-left: 40px;
}

.feedback-avatar {
    border-radius: 50px;
    margin-bottom: 5px;
    height: 40px;
    margin: 20px;
}

.feedback-profile {
    display: flex;
    margin-left: 20px;
    padding-bottom: 20px;
    align-items: center;
}


.feedback-container {
    display: flex;
    justify-content: space-evenly;
    margin: 100px 150px 0px 150px;
}

.feedback-saction {
    margin-top: 140px;
}

/* productive section */

.productive {
    background-color: #4d47ff3d;
    padding-top: 50px;
    border-radius: 24px;
    margin: 100px 160px 0px 140px;
    padding-bottom: 1rem;
}

.productive-title {
    text-align: center;
}

.productive-subtitle {
    display: flex;
    justify-content: space-evenly;
}

.product-h1 {
    font-size: 80px;
    font-weight: 800;
}

.product-p {
    font-size: 24px;
}

.user-2m {
    font-size: 80px;
    font-weight: 800;
}

.user-p {
    font-size: 24px;
}

.product-rate-h1 {
    font-size: 80px;
    font-weight: 800;
}

.product-rate-p {
    font-size: 24px;
}


/* footer section */

.footer-section {
    background-color: #FFFFFF;
    padding: 3rem 0.1rem;
}

.footer-leader {
    /* align-items: center; */
    /* padding: 150px; */
    /* margin: 105px 400px 105px 400px; */
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.footer-name {
    text-align: center;
    font-size: 100px;
    font-weight: 800;
    color: #4E47FF;
    margin: 0px;
}

.footer-sub-title {
    text-align: center;
    font-size: 20px;
    margin: 0px;
}

.foeter-liks-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: center;
}

/* touch section */

.touch-section {
    padding: 300px 250px;
    display: flex;
    gap: 100px;
}

.section-title {
    font-size: 92px;
    font-weight: 800;
}


.touch-column {
    width: 50%;
}

form input[type="text"],
form [type="email"] {
    height: 55px;
    border-radius: 7px;
    background-color: white;
    color: #757575;
    display: block;
    width: 400px;
    padding: 10px 20px;
    margin: 24px;
    border: none;
    font-size: 16px;
}

.touch-colom {
    height: 200px;
    border-radius: 5px;
    background-color: white;
    color: #757575;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin: 24px;
    border: none;
    font-size: 16px;
}


.touch-area {
    height: 35px;
    border-radius: 15px;
    background-color: white;
    color: #757575;
    display: block;
    width: 400px;
    padding: 50px 20px;
    margin: 24px;
    border: none;
    font-size: 16px;
}

/* button color */
.submit-button {
    width: 65%;
}

.submit-button:hover {
    background: rgba(13, 8, 44, 0.578);
    color: white;
    transition: all 0.3s;
    cursor: pointer;
}